body {
    background-color: rgb(30, 30, 30);
    margin: 0em;
    font-size: 1.05vw;
    font-family: 'Roboto', sans-serif;
}

body:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

#canvas {
    width: 74%;
    height: 100%;
    position: fixed;
    left: 0em;
    overflow: hidden;
}

#fullscreen-button {
    font-size: 1.25em;
    background-color: rgba(0,0,0,0);
    color: rgba(255, 255, 255, 0.25);
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    padding: 0.5em;
    cursor: pointer;
}

#fullscreen-button:hover {
    color: rgba(255, 255, 255, 0.5);
}

#fullscreen-button:active {
    color: rgba(255, 255, 255, 0.75);
}

#panel {
    background-color: rgb(30, 30, 30);
    width: 26%;
    height: 100%;
    position: fixed;
    right: 0em;
    top: 0em;
    overflow: hidden;
}

#helper-prompt {
    padding: 1em;
    padding-top: 9em;
    font-size: 1.5em;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

/*********************************************************************/

#tab-container {
    background-color: rgb(40, 40, 40);
    box-sizing: border-box;
    width: 100%;
    height: 6%;
    position: absolute;
    right: 0em;
    top: 0em;
    margin: 0em;
    padding: 0em;
    border: 0em;
    overflow: hidden;
}

.tab {
    background-color: rgb(40, 40, 40);
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    width: 30%;
    height: 100%;
    position: absolute;
    margin: 0em;
    padding: 0em;
    border: 0em;
    outline: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

#setup-tab {
    left: 0%;
    width: 33%;
    background-color: rgba(33, 150, 243, 0.25);
}

#run-tab {
    left: 33%;
    width: 33%;
    background-color: rgba(76, 175, 80, 0.25);
}

#view-tab {
    left: 66%;
    width: 34%;
    background-color: rgba(244, 67, 54, 0.25);
}

/*********************************************************************/

.controller {
    background-color: rgb(30, 30, 30);
    box-sizing: border-box;
    width: 100%;
    height: 94%;
    right: 0em;
    top: 6%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
}

.group{
    background-color: rgb(40, 40, 40);
    border-radius: 0.25em;
    padding: 0.5em;
    margin: 0.25em;
}

.group-title{
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    padding: 0.5em;
    margin: 0em;
    height: 1.25em;
}

.container {
    width: 95%;
    padding: 0em;
    margin: 0em;
    display: block;
    position: relative;
}

/*********************************************************************/

.group-textbox {
    background-color: rgb(40, 40, 40);
    color: rgba(0, 0, 0, 0);
    font-size: 1em;
    width: 3em;
    text-align: left;
    display: inline-block;
    cursor: text;
    height: 1.75em;
    padding-top: 0.25em;
    padding-bottom: 0em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0.5em;
    margin-right: 0em;
    box-sizing: border-box;
    border: none;
    outline: none;
    border: 0.05em solid rgba(0, 0, 0, 0);
}

.setup-textbox {
    border-bottom-color: rgba(33, 150, 243, 0.3);
    color: rgba(33, 150, 243, 1);
}

.setup-textbox:hover {
    border-bottom-color: rgba(33, 150, 243, 0.6);
}

.setup-textbox:focus {
    border-bottom-color: rgba(33, 150, 243, 1);
}

.run-textbox {
    border-bottom-color: rgba(76, 175, 80, 0.3);
    color: rgba(76, 175, 80, 1);
}

.run-textbox:hover {
    border-bottom-color: rgba(76, 175, 80, 0.6);
}

.run-textbox:focus {
    border-bottom-color: rgba(76, 175, 80, 1);
}

.view-textbox {
    border-bottom-color: rgba(244, 67, 54, 0.3);
    color: rgba(244, 67, 54, 1);
}

.view-textbox:hover {
    border-bottom-color: rgba(244, 67, 54, 0.6);
}

.view-textbox:focus {
    border-bottom-color: rgba(244, 67, 54, 1);
}

#hiddenlayersizes {
    min-height: 6.75em;
}

/*********************************************************************/
.group-button {
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    height: 1.25em;
    padding: 0.25em;
    margin: 0.25em;
    border: none;
    border-radius: 0.25em;
    outline: none;
    cursor: pointer;
    box-sizing: content-box;
    vertical-align: top;
}

.button-container {
    text-align: center;
    height: 2.25em;
    padding-top: 1.25em;
    padding-bottom: 1.5em;
}

.apply-button {
    background-color: rgba(0,0,0,0);
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    height: 1.25em;
    padding:  0.5em;
    border: none;
    border-radius: 0.25em;
    outline: none;
    cursor: pointer;
    box-sizing: content-box;
}

/*****************************/

.setup-button {
    color: rgba(33, 150, 243, 0.6);
}

.setup-button:hover {
    background-color: rgba(33, 150, 243, 0.3);
}

.setup-button:active {
    background-color: rgba(33, 150, 243, 0.6);
    color: rgba(33, 150, 243, 1);
}

.setup-button-solid {
    background-color: rgba(33, 150, 243, 0.6);
    color: rgba(255, 255, 255, 0.7);
}

.setup-button-solid:hover {
    background-color: rgba(33, 150, 243, 0.8);
}

.setup-button-solid:active {
    background-color: rgba(33, 150, 243, 1);
}

/*****************************/

.run-button {
    color: rgba(76, 175, 80, 0.6);
}

.run-button:hover {
    background-color: rgba(76, 175, 80, 0.3);
}

.run-button:active {
    background-color: rgba(76, 175, 80, 0.6);
    color: rgba(76, 175, 80, 1);
}

.run-button-solid {
    background-color: rgba(76, 175, 80, 0.6);
    color: rgba(255, 255, 255, 0.7);
}

.run-button-solid:hover {
    background-color: rgba(76, 175, 80, 0.8);
}

.run-button-solid:active {
    background-color: rgba(76, 175, 80, 1);
}

/*****************************/

.view-button {
    color: rgba(244, 67, 54, 0.6);
}

.view-button:hover {
    background-color: rgba(244, 67, 54, 0.3);
}

.view-button:active {
    background-color: rgba(244, 67, 54, 0.6);
    color: rgba(244, 67, 54, 1);
}

.view-button-solid {
    background-color: rgba(244, 67, 54, 0.6);
    color: rgba(255, 255, 255, 0.7);
}

.view-button-solid:hover {
    background-color: rgba(244, 67, 54, 0.8);
}

.view-button-solid:active {
    background-color: rgba(244, 67, 54, 1);
}

/*********************************************************************/

.switch-container {
    width: 95%;
    height: 2.25em;
    padding: 0em;
    margin: 0em;
    margin-left: 0em;
    display: block;
    position: relative;
}

.switch {
    width: 2.25em;
    height: 2.25em;
    padding: 0em;
    margin: 0em;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.switch__native-control {
    opacity: 0;
    position: absolute;
    top: 0em;
    left: 0em;
    width: 2.25em;
    height: 2.25em;
    padding: 0em;
    margin: 0em;
    border: none;
}

.switch-text {
    display: inline-block;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    padding:  0.5em;
    padding-left: 0.25em;
    margin: 0em;
    height: 1.25em;
    vertical-align: top;
}

/*********************************************************************/

.radio__outer-circle {
    position: absolute;
    top:  0.5em;
    left:  0.5em;
    width: 1.25em;
    height: 1.25em;
    padding: 0em;
    margin: 0em;
    border-radius: 50%;
    border: 0.125em solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.radio__inner-circle {
    position: absolute;
    top:  0.5em;
    left:  0.5em;
    width: 0.65em;
    height: 0.65em;
    padding: 0em;
    margin: 0.3em;
    border-radius: 50%;
    border: 0em solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

/*****************************/

.setup-switch .radio__outer-circle {
    border-color: rgba(33, 150, 243, 0.6);
}

.setup-switch:hover .radio__outer-circle {
    border-color: rgba(33, 150, 243, 1);
}

.setup-switch input:checked ~ .radio__outer-circle {
    border-color: rgba(33, 150, 243, 1);
}

.setup-switch input:checked ~ .radio__inner-circle {
    background-color: rgba(33, 150, 243, 1);
}

/*****************************/

.run-switch .radio__outer-circle {
    border-color: rgba(76, 175, 80, 0.6);
}

.run-switch:hover .radio__outer-circle {
    border-color: rgba(76, 175, 80, 1);
}

.run-switch input:checked ~ .radio__outer-circle {
    border-color: rgba(76, 175, 80, 1);
}

.run-switch input:checked ~ .radio__inner-circle {
    background-color: rgba(76, 175, 80, 1);
}

/*****************************/

.view-switch .radio__outer-circle {
    border-color: rgba(244, 67, 54, 0.6);
}

.view-switch:hover .radio__outer-circle {
    border-color: rgba(244, 67, 54, 1);
}

.view-switch input:checked ~ .radio__outer-circle {
    border-color: rgba(244, 67, 54, 1);
}

.view-switch input:checked ~ .radio__inner-circle {
    background-color: rgba(244, 67, 54, 1);
}

/*********************************************************************/

.checkbox__outer-square {
    position: absolute;
    top:  0.5em;
    left:  0.5em;
    width: 1em;
    height: 1em;
    padding: 0em;
    border-radius: 0.125em;
    border: 0.125em solid rgba(0, 0, 0, 0);
}

.checkbox__inner-mark {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0.82em;
    left: 0.72em;
    width: 0.7em;
    height: 0.35em;
    padding: 0em;
    margin: 0em;
    transform: rotate(-45deg);
    border-radius: 0em;
    border: none;
    border-left: 0.125em solid rgb(40, 40, 40);
    border-bottom: 0.125em solid rgb(40, 40, 40);
}

/*****************************/

.run-switch .checkbox__outer-square {
    border-color: rgba(76, 175, 80, 0.6);
}

.run-switch:hover .checkbox__outer-square {
    border-color: rgba(76, 175, 80, 1);
}

.run-switch input:checked ~ .checkbox__outer-square {
    background-color: rgba(76, 175, 80, 1);
}

/*****************************/

.view-switch .checkbox__outer-square {
    border-color: rgba(244, 67, 54, 0.6);
}

.view-switch:hover .checkbox__outer-square {
    border-color: rgba(244, 67, 54, 1);
}

.view-switch input:checked ~ .checkbox__outer-square {
    background-color: rgba(244, 67, 54, 1);
}

/*****************************/

.switch input:disabled ~ .checkbox__outer-square {
    border-color: rgba(255, 255, 255, 0.07);
    cursor: default;
}

.switch input:disabled ~ .checkbox__inner-mark {
    cursor: default;
}

/*********************************************************************/

.table-header {
    display: block;
    width: 90%;
    height: 1.25em;
    padding: 0em;
    margin: 0em;
    margin-left: 0em;
}

.table-title {
    display: inline-block;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    width: 2.25em;
    height: 1.25em;
    padding: 0em;
    margin: 0em;
    font-size: 1em
}

.layers {
    background-color: rgb(45, 45, 45);
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    border-radius: 0.25em;
    padding: 0.25em;
    margin: 0.25em;
    width: 2.25em;
    height: 1.25em;
    text-align: center;
    display: inline-block;
}

.training-result {
    background-color: rgb(50, 50, 50);
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    border-radius: 0.25em;
    padding: 0.25em;
    margin: 0.25em;
    width: 5em;
    height: 1.25em;
    text-align: left;
    display: inline-block;
}

.training-title{
    background-color: rgba(0,0,0,0);
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    padding: 0em;
    margin: 0.5em;
    margin-bottom: 0em;
    width: 5em;
    height: 1.25em;
    text-align: left;
    display: inline-block;
}

/*********************************************************************/

#layersize {
    width: 2.5em;
}

.setup-textbox::placeholder {
    color: rgba(33, 150, 243, 0.6);
}

.view-textbox::placeholder {
    color: rgba(244, 67, 54, 0.6);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}